# Notebook: Análise Exploratória e Pré-processamento dos Dados

## 1. Introdução

Este notebook faz parte do projeto do Nanodegree 2025/1 da disciplina de Machine Learning & Inteligência Artificial.
Seu objetivo é explorar e preparar os dados para a tarefa de previsão de evasão de estudantes em um curso online síncrono promovido pela PensComp.

---

In [10]:
# Importação de bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Dados

In [11]:
df = pd.read_csv('../data/dados_projeto_evasao_treino.csv')

### Entendimento Inicial

In [15]:
# Estrutura do DF
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 37 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0                            400 non-null    int64
 1   ds_cidade_usuario                     346 non-null    object
 2   ts_primeiro_acesso                    400 non-null    int64
 3   ts_ultimo_acesso                      400 non-null    int64
 4   nr_dias_desde_primeiro_acesso         400 non-null    int64
 5   nr_dias_desde_ultimo_acesso           400 non-null    int64
 6   nr_atividades_sinalizadas             400 non-null    int64
 7   nr_atividades_mapeadas                400 non-null    int64
 8   nr_discussoes_forum_postadas          400 non-null    int64
 9   nr_questionarios_abandonados          400 non-null    int64
 10  nr_questionarios_finalizados          400 non-null    int64
 11  vl_medio_tempo_questionario           111 non-null    float64
 12  vl_medio_tempo_questionario_avaliado  107 non-null    float64
 13  vl_desempenho_questionario            27 non-null     float64
 14  nr_intervalos_uso                     209 non-null    float64
 15  nr_dias_uso                           400 non-null    int64
 16  vl_medio_atividade_diaria             209 non-null    float64
 17  vl_engajamento_usuario_por_intervalo  29 non-null     float64
 18  vl_engajamento_usuario_intradia       29 non-null     float64
 19  nr_interacoes_usuario                 400 non-null    int64
 20  nr_dias_engajamento_discussao         400 non-null    int64
 21  nr_dias_engajamento_questionario      400 non-null    int64
 22  nr_engajamento_discussao              400 non-null    int64
 23  nr_engajamento_questionario           400 non-null    int64
 24  nr_questoes_respondidas               400 non-null    int64
 25  nr_questoes_corretas                  400 non-null    int64
 26  nr_questoes_erradas                   400 non-null    int64
 27  nr_questoes_parciais                  400 non-null    int64
 28  vl_desempenho_usuario                 113 non-null    float64
 29  vl_media_questoes_por_dia             61 non-null     float64
 30  vl_engajamento_notas                  61 non-null     float64
 31  nr_itens_avaliados                    400 non-null    int64
 32  nr_itens_nao_respondidos              400 non-null    int64
 33  vl_media_notas                        113 non-null    float64
 34  nr_submissoes_codigo                  400 non-null    int64
 35  vl_media_submissoes_codigo            4 non-null      float64
 36  vl_submissoes_por_dias_ativos         8 non-null      float64
dtypes: float64(13), int64(23), object(1)
memory usage: 115.8+ KB

In [17]:
# Amostra dos dados
df.head()

   Unnamed: 0 ds_cidade_usuario  ...  vl_media_submissoes_codigo  vl_submissoes_por_dias_ativos
0           1          Campinas  ...                         NaN                            NaN
1           3          Campinas  ...                         NaN                            NaN
2           4          Campinas  ...                         NaN                            NaN
3           5               NaN  ...                         NaN                            NaN
4           6          Campinas  ...                         NaN                            NaN

[5 rows x 37 columns]

In [18]:
# Classificação das colunas por tipo de prefixo
categoricas = [col for col in df.columns if col.startswith("ds_")]
temporais = [col for col in df.columns if col.startswith("ts_")]
numericas_nr = [col for col in df.columns if col.startswith("nr_")]
numericas_vl = [col for col in df.columns if col.startswith("vl_")]

print("\nColunas categóricas:", categoricas)
print("Colunas temporais:", temporais)
print("Colunas numéricas (contagem - nr_):", numericas_nr)
print("Colunas numéricas (valores/escalares - vl_):", numericas_vl)

Colunas categóricas: ['ds_cidade_usuario']
Colunas temporais: ['ts_primeiro_acesso', 'ts_ultimo_acesso']
Colunas numéricas (contagem - nr_): ['nr_dias_desde_primeiro_acesso', 'nr_dias_desde_ultimo_acesso', 'nr_atividades_sinalizadas', 'nr_atividades_mapeadas', 'nr_discussoes_forum_postadas', 'nr_questionarios_abandonados', 'nr_questionarios_finalizados', 'nr_intervalos_uso', 'nr_dias_uso', 'nr_interacoes_usuario', 'nr_dias_engajamento_discussao', 'nr_dias_engajamento_questionario', 'nr_engajamento_discussao', 'nr_engajamento_questionario', 'nr_questoes_respondidas', 'nr_questoes_corretas', 'nr_questoes_erradas', 'nr_questoes_parciais', 'nr_itens_avaliados', 'nr_itens_nao_respondidos', 'nr_submissoes_codigo']
Colunas numéricas (valores/escalares - vl_): ['vl_medio_tempo_questionario', 'vl_medio_tempo_questionario_avaliado', 'vl_desempenho_questionario', 'vl_medio_atividade_diaria', 'vl_engajamento_usuario_por_intervalo', 'vl_engajamento_usuario_intradia', 'vl_desempenho_usuario', 'vl_media_questoes_por_dia', 'vl_engajamento_notas', 'vl_media_notas', 'vl_media_submissoes_codigo', 'vl_submissoes_por_dias_ativos']

### Verificação de itens ausentes

In [25]:
# Verificando colunas que possuam ao menos um item nulo
missing = (df.isnull().mean() * 100).sort_values(ascending=True)

print("\nProporção de valores ausentes por coluna (%):")
print(missing[missing > 0].round(2))

Proporção de valores ausentes por coluna (%):
ds_cidade_usuario                       13.50
vl_medio_atividade_diaria               47.75
nr_intervalos_uso                       47.75
vl_media_notas                          71.75
vl_desempenho_usuario                   71.75
vl_medio_tempo_questionario             72.25
vl_medio_tempo_questionario_avaliado    73.25
vl_engajamento_notas                    84.75
vl_media_questoes_por_dia               84.75
vl_engajamento_usuario_intradia         92.75
vl_engajamento_usuario_por_intervalo    92.75
vl_desempenho_questionario              93.25
vl_submissoes_por_dias_ativos           98.00
vl_media_submissoes_codigo              99.00
dtype: float64